<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

    <targets async="true">
        <target xsi:type="File"
                name="file"
                layout="${longdate} [${level:uppercase=true}] [${logger}] ${message}${onexception:${newline}${exception:format=ToString}}"
                fileName=".\logs\log.txt"
                keepFileOpen="false"
                archiveFileName=".\logs\archive\log-${shortdate}-{##}.txt"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveFiles="10"
        />
    </targets>
    <rules>
        <logger name="*" writeTo="file" minlevel="Debug" />
    </rules>
</nlog>